asgiref==3.11.0
certifi==2025.11.12
charset-normalizer==3.4.4
Django==4.2.26
django-model-utils==5.0.0
django-modeltranslation==0.19.17
idna==3.11
importlib_metadata==8.7.0
Markdown==3.9
pillow==11.3.0
requests==2.32.5
sqlparse==0.5.3
typing_extensions==4.15.0
urllib3==2.5.0
zipp==3.23.0
